<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>

<div class="parentmentwrapper">
  <div class="menwrapper">
    <div class="imgmenouter"><img id="imgmen" src="<%=findId.img%>" />></div>
    <div class="contents">
      <h1 id="h1men">Name:<%= findId.name %></h1>

      <p id="pmen">Price:<%= findId.price %></p>
      <p id="pmen">Description:<%= findId.description %></p>
    </div>
  </div>
</div>


<div class="col-lg-6 margin-form">
  <h2 class="display-5">Leave your review</h2>
  <form action="/men/<%=findId._id%>/review" method="POST">
      <div>
          <label for="rate">Rating:</label>
          <!-- star rating -->
          <fieldset class="starability-coinFlip">
              <!-- <legend>First rating:</legend> -->
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="rating" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="rating" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="rating" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="rating" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="rating" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          <!-- <input type="range" min="0" max="5" name="rating" id="rate"> -->
      </div>
      <div>
          <label for="comm">Comment:</label>
          <textarea name="comment" id="comm" cols="30" rows="3"></textarea>
      </div>
      <button style="font-size: 25px;" type="submit">Add review</button>
  </form>

  <% for(let item of findId.reviews){ %>
      <div class="card mt-5">
          <!-- <h2><%=item.rating%></h2> -->
          <p class="starability-result" data-rating="<%=item.rating%>">
              Rated: <%=item.rating%> stars
          </p>
          <p><%=item.comment%></p>
          <% if(item.createdAt){ %>
              <p><%=item.createdAt.toDateString()%></p>
          <% } %>
          
      </div>
  <% } %>

  
<%- include('./partials/footer.ejs') %>
